<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>new post</title>
</head>

<body>

    <h1>Add new Post</h1>
    <hr>

    <form action="/write" method="post">
        <label>Title <br>
            <input type="text" name="title"> <br>
        </label>

        <label>Content<br>
           <textarea name="content" cols="30" rows="10"></textarea><br>
        </label>
        <button>SEND</button>
    </form>
</body>

</html>